// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$mid-blue: #9EB8D9;
$dark-blue: #7C93C3;
$light-red: #A25772;
$light-blue: #EEF5FF;
