.banner {
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.button{
  background-color: $light-red;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 28px 5px;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  transition: 25ms ease-in-out;
  font-size: 20px;
  font-weight: bold;
  font-family: $headers-font;
  &:hover {
    opacity: 0.9;
  }
}
