.accept-button {
  background-color: #4CAF50;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 8px 15px;
  border: black 1px solid;
  cursor: pointer;
  opacity: 0.9;
}
.reject-button {
  background-color: #f44336;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 8px 15px;
  border: black 1px solid;
  cursor: pointer;
  opacity: 0.9;
}

.request-container {
  height: 646px;
  width: 390px;
  background-color: white;
  margin: 25px 0px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  .request-card h4 {
    margin: 0 auto;
  }
}

.request-image {
  border-radius: 4px;
}

.request-card {
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  // border-radius: 0px; /* 5px rounded corners */
  justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: white;
  width: 330px;
  margin-left: 20px;
}
