.icon {
  color: $light-red;
  margin-right: 5px;
};

.button{
  background-color: $light-red;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  transition: 25ms ease-in-out;
  font-size: 20px;
  font-weight: bold;
  font-family: $headers-font;
  &:hover {
    background-color: $light-red;
    color: white;
    opacity: 0.9;
  }
}
